{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Wybierz film(y):
            <form action="{{ path('show_recommended_movie') }}" method="post">
                <input type="submit" value="Submit">
                <select multiple="multiple" class="image-picker" name="movie">
                    {% for movie in movies %}
                        <option data-img-src="{{ poster_base_url ~ movie['poster_path'] }}" value="{{ movie['id'] }}">{{ movie['title'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(".image-picker").imagepicker({
            hide_select : true
        })
    </script>

{% endblock %}
